.advantages {
  padding: 0 30px 40px;

  background-color: #fbfbfb;
  border-bottom: 1px solid #e6e6e6;
}

.advantages-title {
  margin-top: 37px;

  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item {
  margin: 0 0 -15px;
}

.advantages-item-title {
  margin: 30px 0 -15px;

  font-size: 16px;
  line-height: 24px;
  color: #000000;
}


.advantages-item-description {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}
